<div class="md-whiteframe-z1" ng-show="showActive">
  <md-toolbar class="md-theme-light">
    <h5 class="md-toolbar-tools">
      <span>Active</span>
    </h5>
  </md-toolbar>
  <md-content md-scroll-y class="md-padding">
    <md-list>
      <md-item>
        <md-item-content class="list-content">
          <div class="md-tile-left">
            <img ng-src="http://image.eveonline.com/Character/{{active_character.character_id}}_256.jpg" class="avatar-medium" alt="{{character.name}}">
          </div>
          <div class="md-tile-content">
            <h3>{{active_character.character_name}}</h3>
            <h4>{{active_character.corporation_name}}</h4>
          </div>
        </md-item-content>
        <md-divider ng-if="!$last"></md-divider>
      </md-item>
    </md-list>
  </md-content>
  <md-toolbar class="md-theme-light">
    <h1 class="md-toolbar-tools">
      <span>Skill Queue</span>
    </h1>
  </md-toolbar>
  <md-content md-scroll-y class="md-padding">
    <md-list>
      <md-item>
        <md-item-content class="list-content" ng-repeat="skill in active_character.skill_queue">
          <div class="md-tile-content">
            <h3>{{skill}}</h3>
          </div>
        </md-item-content>
        <md-divider ng-if="!$last"></md-divider>
      </md-item>
    </md-list>
  </md-content>
</div>