<div ng-controller="TopNavCtrl" layout="column">
  <md-toolbar md-scroll-shrink style="z-index: 61;" class="md-whiteframe-z1">
    <div class="md-toolbar-tools">
      <md-button  layout="row" layout-align="center center" aria-label="Menu" style="padding: 5px; width: 34px; height: 33px;" ng-click="toggleNav()">
        <i style="width: 24px; height: 24px;" class="icon ic_menu_wht_1x"></i>
      </md-button>
      <h3>
        <span>EveCom</span>
      </h3>
      <span flex=""></span>
      <md-button ng-show="user.signedIn" ng-click='signOut()'>Logout</md-button>
      <div ng-controller="ActiveCharacterCtrl">
      <md-button aria-label="Active character - {{active_character.character_name}}" class="md-primary md-fab" style='width: 40px; height: 40px; background: url("http://image.eveonline.com/Character/{{active_character.character_id}}_64.jpg"); background-size: 40px 40px; background-repeat: no-repeat;' ng-click="show_grid_bottom_sheet()">
        <md-tooltip>
          {{active_character.character_name }} active
        </md-tooltip>
      </md-button>
      </div>
    </div>
  </md-toolbar>
 </div>