<div class="md-whiteframe-z1" flex>
  <form ng-submit="submitLogin(loginForm)" class="user-sign-in" flex>
    <div class="row" layout="column" layout-sm="column" layout-margin layout-align="center center">
      <p>Please sign in</p>
      <md-text-float id="email" name="email" label="Email" ng-model="loginForm.email" required="required"></md-text-float>
      <md-text-float autocomplete="off" id="password" name="password" label="Password" ng-model="loginForm.password" type="password" required="required"></md-text-float>
    </div>
    <div layout="column" layout-sm="column" layout-margin layout-align="center center">
      <md-button class="md-primary md-raised">Signin</md-button>
    </div>
  </form>
</div>