<!DOCTYPE html>
<html ng-app="eveCert">
<head >
  <title>Evecert</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<md-progress-linear ng-show="loading" md-mode="indeterminate" md-scroll-shrink style="z-index: 62; position: absolute; top: 0;"></md-progress-linear>
<ng-include src="'shared/top_navigation.html'"></ng-include>
<ng-include src="'shared/navigation.html'"></ng-include>
<div layout="row" layout-margin>
  <div flex="20">

  </div>
  <div flex id="ng-view" ng-view md-scroll-y></div>
  <div flex="20"><ng-include src="'characters/active_character.html'"></ng-include></div>
</div>
</body>
</html>
