<!DOCTYPE html>
<html ng-app="eveCert">
<head >
  <title>Evecert</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="ng-view" ng-view></div>
</body>
</html>
